body{
    background-color: #f3f4f5;
    font-family: Arial;
    color: 30px;    
}
.Encabezado{
    border: 2px solid black;
    font-family: Arial ;
    background-color: rgb(228, 205, 0);
}
.Encabezado__menu{
    color: rgb(0, 0, 0);
    padding: 24px;
    display: flex;
    justify-content: space-between;   
}
.Encabezado__menu ul{
    display: flex;
}
.Encabezado__menu li{
    display: inherit;
}
.Encabezado__menu a{
    color: black;
    padding: 24px;
    font-weight: 25px;
    text-transform: uppercase;
    text-decoration: none;
}
.Encabezado__menu a:hover{
    background-color: rgb(182, 26, 5);
    color: white;
    border-radius: 30px;
}
Contenedor{
    width: 500px;    
    margin: 0 auto;
}
.banner{
    color: black;
    background-color: rgb(233, 235, 221);
}
.banner .banner__heroe{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.banner__text-heroe{
padding: 100px 0 0 100px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 18px;
}
.Ingredientes{
        display: flex;
        margin: 0 auto;
}
.ingredientes__box{
    margin: 10px;
    box-shadow: 0px 1px 8px 1px chartreuse;
    border-radius: 10px;
    width: 44%;
    font-family: Arial;
    
}
.Ingredientes__box img{
    border-radius: 10px;
}
.Ingredientes__carta{
    margin: 0 auto;
    padding: 5px;
}
.title{
    border-left: 8px solid rgb(255, 251, 0);
    background-color: rgb(68, 41, 221);
}
.Emplatado{
    display: flex;
    margin: 0 auto;
}
.Derechos{
    color: black;
    background-color: rgba(235, 34, 34, 0.644);
}
